<!DOCTYPE html>
<html ng-app='clientApp'>
<head>
	<title></title>
	<link href='https://fonts.googleapis.com/css?family=Bitter:700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Alegreya+Sans|Ubuntu+Mono' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src='{{url_for("bower.static", filename="bower-angularjs/angular.min.js")}}'></script>
	<script type="text/javascript" src='{{url_for("bower.static", filename="angular-route/angular-route.min.js")}}'></script>
	<script type="text/javascript" src='{{url_for("bower.static", filename="jquery/dist/jquery.js")}}'></script>
	<script type="text/javascript" src='{{url_for("bower.static", filename="showdown/dist/showdown.min.js")}}'></script>
	
	<script type="text/javascript" src='{{url_for("post.static", filename="js/app.js")}}'></script>
	<link rel="stylesheet" type="text/css" href="main/css/style.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('post.static', filename='css/post.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('post.static', filename='css/article-style.css') }}">

	<link rel="stylesheet" type="text/css" href="{{ url_for('post.static', filename='css/blog_feed.css') }}">
</head>
<body>
	<div class="header">
		<div class="header-content">
			<div class="header-menu-item title">MyBlog</div>

			<div class="header-menu-item">Blog</div>
			<div class="header-menu-item">Archive</div>
			<div class="header-menu-item">About Me</div>
		</div>
	</div>
</body>
<div ng-view></div>
<footer class="footer"></footer>
</html>