body {
	padding: 0;
	margin: 0;
	background-color: #f1f1f1;
}

.blogwriter {
	height: 400px;
	width: 100%;
	background-color: white;
	border-bottom: 1px solid #afafaf;
}
.title {
	font-size: 20px;
	font-weight: bolder;
	width: 200px;
}
.header-content {
	margin: auto;
	width: 900px;
}
.header {
	height: 50px;
	background-color: white;
	width: 100%;
	display: table;
	position: fixed;
	z-index: 20;
	border-bottom: 1px solid #afafaf; 
}
.header-menu-item {
	display: table-cell;
	padding-top:15px;
	width: 100px; 
	text-align: center;
}

.feed {
	z-index: 10;

	position: relative;
	margin: auto;
	width: 900px;
}

.blogpost {
	height: 500px;
	width: 435px;
	margin-bottom: 20px;
}
.blogpost-container-top {
	position: absolute;
	overflow: hidden;
	width: 430px;
	height: 500px;	
	background-color: black;
}

.blogpost-engagement-section {
	position: absolute;
	z-index: 15;
	top: 380px;
	left: 50px;
	display: inline;
}
.blogpost-engagement-section img{
	width: 16px;
	height: 16px;
	opacity: 0.6;
}
.engagement-value {
	color: white;
	display: inline;
	margin-bottom: 3px;
}
.blogpost-publication-date p {
	position: absolute;
	text-align: right;
	z-index: 15;
	color: #afafaf;
	font-weight: bold;
	font-size:12px; 
	width: 100%;
	border-bottom: 1px solid #afafaf;
}
.blogpost-container {
	z-index: 10;
	overflow: hidden;
	width: 500px;
	height: 600px;
	position: absolute;
	top: -20px;
}

.post-header {
	z-index: 15;
	
	position: absolute;
	padding-left: 20px;
	text-shadow: 1px 1px  1px black;
	top: 300px;
	color: #fff;
}

.post-short-content {
	z-index: 15;

	overflow: hidden;
	background-color: rgba(0,0,0,.5);
	box-shadow: 0px -40px 40px rgba(0,0,0,.5);
	position: absolute;
	top: 400px;
	margin-left: -20px;
	width: 385px;
	left: 0;
	height: 100px;
	padding: 0px 30px 0px 60px;
	font-size: 15px;
	color: #fff;	
}
.blogpost-image {
	background-position: 50% 50%; 
	background-size: cover; 
	width: 500px;
	height: 530px;
	margin-left:-20px;
	transform: scale(1);
	transition: 0.2s all;
	z-index: 10;
}

.blogpost:nth-child(odd) {
	margin-left: 10px;
	margin-right: 5px;
}

.blogpost:nth-child(even) {
	margin-right: 10px;
	margin-left: 455px;
	float: right;
	margin-top: -350px;
}

.blogpost-image:hover {
  	transition: 0.2s all;
	transform: scale(1.33);
}
.blogpost-tag-field {
	z-index: 15;
	top: 35px;
}

.blogpost-tag-field ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.blogpost-tag-field ul li {
	display: inline;
	padding:   3px 20px 3px 20px;
	height: 18px;
	font-style: italic;
	font-size: 12px;
	color: white;
	border-radius: 9px;
	background-color: #FFCC99;
}

@media screen and (max-device-width:800px) {
	.feed {
		width: 100%;
		background-color: black;
	} 
	.blogpost {
		transition:0.2s all;
		-webkit-transition:0.2s all;
		-moz-transition:0.2s all;

		margin: none;
		width: 100%;
	}

	.blogpost:nth-child(odd) {
		background-color: green;
		margin: auto;
		float: none;
		width: 100%;
	}

	.blogpost:nth-child(even) {
		background-color: red;
		margin: auto;
		float: none;
		width: 100%;
	}
}
